{% load static %}
<html lang="en">
  <head>
    <title>Ankasory</title>
    <!-- Favicon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico'%}"/>
    <link href="{% static 'css/style74.css' %}" rel="stylesheet" />

   

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>

    {% include 'navbar.html'%} 
    
    {% if messages %}
    <div class="popup-messages-container">
      {% for message in messages %}
      <div class="popup-message alert-secondary fade show" role="alert">
        <div class="popup-content">
          <span class="popup-text">{{ message }}</span>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% block content %} {% endblock %}

    <!-- Footer-->
  <!-- Red Line -->
  <div class="red-line"></div>

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h3>About Us</h3>
        <p>Your trusted destination for the best deals across Jordan. <br> We bring together exclusive
          offers and discounts from your favorite stores, making smart shopping easier for everyone.</p>

        <div class="contact-info">
          <div>
            <i class="fas fa-map-marker-alt"></i>
            <span>JORDAN</span>
          </div>

        </div>

      </div>

      <div class="footer-section">
        <h3>Categories</h3>
        <ul>
          <li><a href="#">Hot deals</a></li>
          <li><a href="#">Popular deals </a></li>
          <li><a href="#">Nearby You</a></li>
          <li><a href="#">Cameras</a></li>
          <li><a href="#">Accessories</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Information</h3>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Service</h3>
        <ul>
          <li><a href="#">My Account</a></li>
          <li><a href="#">Post a deal</a></li>
          <li><a href="#">Wishlist</a></li>
          <li><a href="#">Save List</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </div>
  </footer>

  <div class="payment-methods">
    <div class="payment-icons">
      <a href="#"><i class="fa-brands fa-cc-visa fa-3x"></i></a>
      <a href="#"><i class="fa-brands fa-cc-mastercard fa-3x"></i></a>
      <a href="#"><i class="fa-brands fa-cc-paypal fa-3x"></i></a>
    </div>
  </div>


  <div class="copyright">
    <p>Copyright ©2025 All rights reserved | Graduation Project by <span class="heart">♥</span> JUST Students</p>
  </div>
  <script src="{% static 'js/error-handler.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
<!-- Core theme JS-->
  </body>
</html>
