{% extends "base.html" %}
{% load static %}

{% block content %}
<link href="{% static 'css/Register_Stylee99.css' %}" rel="stylesheet" />

<div class="resetContainer">
    <div class="form-header">
        <h3>Forgot Password</h3>
        <p>Enter your email to reset your password</p>
    </div>

    
    <form method="post" action="{% url 'forgot_password' %}">
        {% csrf_token %}
        <div class="form-group">

            <input type="email" id="resetEmail" name="email" value="{{ email }}" required>       
            <label for="resetEmail">Email Address</label>
        </div>
        
        <button type="submit" class="submit-btn">Send Reset Link</button>
        
        <p class="login-link">
            Remember your password? <a href="{% url 'login' %}">Sign in</a>
        </p>
    </form>
</div>
{% endblock %}